<head>

  {% assign title = page.title | default: site.title | escape %}
  
  {% if page.url == "/" and site.data.landing.subtitle %}
    {% assign description = site.data.landing.subtitle | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  {% endif %}
  
  {% assign image = page.image | default: site.author.image %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ page.keywords | default: 'vp, virtual, photography, cinematic, video, games' }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/avatar.png">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/avatar.png">


  <title>

    {% if page.title %}
      {% if page.url == "/" %}
        {{ page.title }}
      {% else %}
        {{ page.title }} - {{ site.title }}
      {% endif %}
    {% else %}
      {{ site.title }}
    {% endif %}

  </title>
  <meta name="description" content="{{ description }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v=3">

  <!-- Fancybox -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">

  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away-subtle.css">



  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>