:root {
  --primary-light: #{$primary-light}; 
  --primary-dark: #{$primary};
}

[data-theme='light'] {
  --primary: var(--primary-light);
}

[data-theme='dark'] {
  --primary: var(--primary-dark);
}

.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: var(--primary);
}

.nav-link,
.navbar-brand {
  user-select:none;

  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-link img,
.navbar-brand img {
  &::after {
    content: none !important;
    text-decoration: none !important;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.navbar-brand {
  margin-bottom: -14px;
  &::after {
    margin-top: -0.25em;
  }
}
