.vp.card {
    border-radius: 10px;
    text-decoration: none !important;
    margin: 9px auto;
    
  
    .card-img-top {
      border-radius: $rounded-borders $rounded-borders $rounded-borders $rounded-borders;
      width: 100%;
      height: 170px;
      object-fit: cover;
  
    }
  
    transition: transform 400ms;
  
    &:hover:not(.post) {
      transform: translateY(-5px);
      // box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.88);
    }

    

  }

  