// Navbar container styling

    // Styles for navbar container


// Main content fluid container styling
.custom-container {
    // Basic styling
    margin: 0 auto;
    padding: 0 15px;

    // Responsive widths for the custom-container
    @media (min-width: 1950px) {
        max-width: 1800px;
    }

    @media (min-width: 1120px) and (max-width: 1949px) {
        max-width: 1140px;
    }

    // Additional media queries as needed
}

